@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap");

:root {
  --buttons-bg-color: #ff8e71;
  --output-bg-color: #ffc2b3;
  --previous-num-color: #ff8e71;
  --current-num-color: #ff481a;
  --logo-color: #FF8E71;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Nunito Sans, sans-serif;
  font-weight: 600;
}

body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: var(--buttons-bg-color);
  color: #fff;
}

.calculator-grid > button:hover {
  opacity: 0.75;
}

.span-two {
  grid-column: span 2;
}

.output-wrapper {
  grid-column: 1 / -1;
  background-color: var(--output-bg-color);
  padding: 30px;
  min-height: 20vh;
}

.logo {
    font-family: Fredoka, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--logo-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.output {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  min-height: 15vh;
}

.output .previous-operand {
  color: var(--previous-num-color);
  font-size: 1.5rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
}

.output .current-operand {
  color: var(--current-num-color);
  font-size: 2.5rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
}

/* Responsiveness */
@media screen and (max-width: 600px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto) repeat(5, 1fr);
    width: 100%;
    min-height: 100vh;
  }

  .calculator-grid > button {
    font-size: 1.5rem;
    height: 100%;
  }

  .output-wrapper {
    min-height: 30vh;
    padding: 15px;
  }

  .output {
    min-height: 25vh;
  }

  .output .previous-operand {
    font-size: 1.2rem;
  }

  .output .current-operand {
    font-size: 2rem;
  }
}
