@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

:root {
    --buttons-bg-color: #FF8E71;
    --output-bg-color: #FFC2B3;
    --previous-num-color: #FF8E71;
    --current-num-color: #FF481A;
}

*, *::after, *::before {
    box-sizing: border-box;
    font-family: Nunito Sans, sans-serif;
    font-weight: 600;
}

body {
    padding: 0;
    margin: 0;
    background-color: #E5E5E5;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: var(--buttons-bg-color);
    color: #fff;
}

.calculator-grid > button:hover {
    opacity: .75;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: var(--output-bg-color);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: var(--previous-num-color);
    font-size: 1.5rem;
    font-family: Oswald, sans-serif;
    font-weight: normal;
}

.output .current-operand {
    color: var(--current-num-color);
    font-size: 2.5rem;
    font-family: Oswald, sans-serif;
    font-weight: normal;
}